body
{
background-image:url("rose.jpg");
}
#outer
{
height:auto;
width:1300px;
}
#header
{
height:500px;
width:1300px;
}
#image
{
box-shadow:4px 4px 100px white;
border-radius:10px;
height:460px;
width:300px;
float:left;
margin-left:100px;
margin-top:15px;
}
#name
{
height:480px;
width:760px;
float:right;
box-shadow:1px 1px 500px white inset;
border-radius:10px;
margin-right:100px;
}
#upper
{
height:50px;
width:760px;
border-radius:10px 0px 0px 10px;
}
#lower 
{
height:400px;
width:760px;
border-radius:0px 10px 10px 0px;
}
#llower
{
height:400px;
width:200px;
margin-left:10px;
float:left;
}
#rlower
{
height:400px;
width:500px;
margin-right:10px;
float:right;
}
p
{
font-size:25px;
padding:10px;
margin-left:10px;
text-decoration:underline;
}
#footer
{
height:400px;
width:1300px;
}
.f1
{
height:300px;
width:300px;
margin:10px;
box-shadow:1px 1px 70px white inset;
float:left;
}